@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <!-- <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
</div>
<div class="cert-section">
    <div class="cert-list">
        <h2>Certificates</h2>

        <ul>
            <li onmouseover="showCert('/certs/AZ104MSAzureAdminPreReqRotate.pdf')">- AZ104 Prerequisite</li>
            <li onmouseover="showCert('/certs/Certificate_ISO45001_B6ZFX5H3IXD4.pdf')">- ISO 45001: Health & Safety Management</li>
            <li onmouseover="showCert('/certs/Certificate_MS_ProgramManagementFundamentals.pdf')" target="_blank">- Microsoft Program Management Fundamentals</li>
            <li onmouseover="showCert('/certs/Certificate_MS_Program5_PMP_Agile_and_Hybrid_Approaches.pdf')">- PMP: Agile and Hybrid Approaches</li>
            <li onmouseover="showCert('/certs/Certificate_MS_introductionToCloudComputing.pdf')" target="_blank">- Intro to Azure Cloud Computing</li>
            <li onmouseover="showCert('/certs/Certificate_AZ104AzureAdmin1of3.pdf')" target="_blank">- Azure Administrator ID & Storage</li>
            <li onmouseover="showCert('/certs/Certificate_AZ104MSAzureToolsAndSecurity.pdf')" target="_blank">- Azure Administrator Tools & Security</li>
            <li onmouseover="showCert('/certs/Certificate_Docker_Fundamentals.pdf')" target="_blank">- Docker CI/CD</li>
            <li onmouseover="showCert('/certs/Certificate_Github_and_Git_ForDevOps.pdf')" target="_blank">- DevOps-Git & Github</li>
            <li onmouseover="showCert('/certs/Certificate_MachineLearningStandFord.pdf')" target="_blank">- ML with Support Vector Machine(SVM)</li>
            <li onmouseover="showCert('/certs/Certificate_RDMAprogramming.pdf')" target="_blank">- NVIDIA RDMA Programmin</li>
            <li onmouseover="showCert('/certs/Certificate_TCP_IP_Fundamentals.pdf')" target="_blank">- TCP/IP Fundamentals</li>
            <li onmouseover="showCert('/certs/Certificate_mmWaveCircuitDesign.pdf')" target="_blank">- RF with mmWave Circuit Design</li>
            <!-- Add more certificates here -->
        </ul>
    </div>

    <div class="cert-preview">
        <iframe id="certFrame" src="" frameborder="0"></iframe>
    </div>
</div>

<hr />

<div class="resume-section">
    <h2>Resume</h2>
    <iframe src="/resume/EngineeringBJL1Resume910ref.pdf" width="100%" height="900px"></iframe>
</div>
